@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
}

.title {
  text-align: center;
  letter-spacing: 2px;
  color: rgb(40, 40, 40);
}

.container {
  padding: 20px;
  width: 500px;
}

.total-balance {
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(40, 40, 40);
}

.inc-exp-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  letter-spacing: 2px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.income-box {
  color: green;
  text-align: center;
  line-height: 1.5;
}

.expense-box {
  color: red;
  text-align: center;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
}

li {
  padding: 10px;
  padding-right: 50px;
  margin: 3px 2px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 18px;
  border-radius: 4px;
  color: rgb(40, 40, 40);
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 35%;
  font-size: 16px;
  color: red;
  cursor: pointer;
}

form {
  margin: 20px 0;
}

form input {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

form input:focus {
  outline: 0;
}

.submit-btn {
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0;
  padding: 10px 0;
  color: white;
  background-color: black;
  font-size: 16px;
}
